* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    border: none;
}
a {
    color: inherit;
}
button {
    cursor: pointer;
}


.container {
    width: 1140px;
    margin: 0 auto;
    height: 100%;
}
.title {
    font-size: 32px;
    font-weight: 700;
    color: #0E2E87;
    text-align: center;
    line-height: 39px;
    text-transform: uppercase;
}
.subtitle {
    font-size: 22px;
    font-weight: 600;
    color: black;
    text-align: center;
}
.arrow-left {
    width: 20px;
    height: 32px;
    background-color: red;
}
/* --------------- Шапка сайта ---------------*/
.header {
    position: absolute;
    width: 100%;
    padding-top: 40px;
}
.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    
}
.logo {
    padding: 25px 100px;
    color: white;
    background: transparent;
    border: 2px solid #FAFAFA;
}
.header__phone a{
    font-size: 27px;
    color: white;
    font-weight: 600;
}
.header__phone-link {
    position: relative;
    padding-left: 75px;
}
.header__phone-link::before {
    content: url('/images/icons/phone.png');
    position: absolute;
    left: 30px;
}

.header-mobile {
    display: none;
}
/* --------------- / Шапка сайта ---------------*/

/* --------------- Секция Промо ---------------*/
.promo {
    background-image: url('/images/bg-main.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    height: 100vh;
    width: 100%;
}

.promo__content {
    padding-top: 29vh;
    width: 564px;
}
.promo__title {
    font-size: 58px;
    color: white;
    font-weight: 700;
    
}
.promo__title span{
    font-size: 42px;
    font-weight: 500;
    margin-top: 10px;
}
.promo__buttons {
    margin-top: 60px;
    font-weight: 600;
}
.promo__btn {
    padding: 15px 30px;
    color: white;
    background: transparent;
    border: 2px solid #FAFAFA;
}
.btn {
    font-size: 22px;
    cursor: pointer;
}
.bg-white {
    background-color: white;
    color: #0E2E87;
    margin-right: 30px;
    border: 2px solid #FAFAFA;
}
.btn-icon {
    position: relative;
    padding-left: 65px;
}
button.btn-icon::before {
    content: url('/images/icons/vk.png');
    position: absolute;
    top: center;
    left: 30px;
}
/* --------------- / Секция Промо ---------------*/

/* --------------- Секция мы знаем, что нужно вашему малышу ---------------*/
.services {
    background-color: #F1F4FB;
    padding: 75px 0;
}
.services__title {
}
.services__content {
    margin-bottom: 45px;
}
.services__lists {
    margin-top: 85px;
    display: flex;
    justify-content: space-between;
}
.services__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 360px;
    height: 458px;
    background-color: #FAFAFA;
}
.services__img {
    border-top: 6px solid transparent;
    border-image: linear-gradient(271.25deg, #0559BC 15.34%, #0E2E87 87.46%);
    border-image-slice: 1;
    width: 100%;
    height: 203px;
}
.services__img img {
    width: 100%;
}
.services__item-container {
    padding: 30px 0;
    width: 252px;
    margin: 0 auto;
}
.services__item-container-checks{
    padding: 15px 0;
    width: 280px;
    margin: 0 auto;
}
.services__subtitle {
}
.services__type {
    font-size: 18px;
    font-weight: 500;
    color: #0E2E87;
    text-align: center;
    background: #E7EDFB;
    border-radius: 2px;
    padding: 8px 16px;
    margin: 21px 0 21px 0;
    gap: 10px;

}
.services__values {
    display: flex;
    justify-content: space-around;
}
.services__values-text {
    display: flex;
    align-items: center
}
.services__values-text img {
    width: 20px;
    height: 20px;
    margin-left: 8px;
}
.services__values-text p {
    margin-left: 11px;
    line-height: 20px;
    font-size: 16px;
    color: #656565;
    font-weight: 500;
}
.services__checks {
    display: flex;
    flex-wrap: wrap;
}
.services__item__check {
    margin-bottom: 25px;

    min-width: 120px;
    display: flex;
    align-items: center;
    
}
.services__item__check p {
    font-size: 16px;
    color: #656565;
    font-weight: 500;
}
.services__item__check:last-child {
    margin-bottom: 0;
}
.services__item__check img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
.services__btn {}
.services button {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #FAFAFA;
    padding: 19px 34px;
    background: #0E2E87;
    border-radius: 0px 0px 4px 4px;
}
/* --------------- / Секция мы знаем, что нужно вашему малышу ---------------*/

/* --------------- Секция Почему выбирают нас? ---------------*/
.about-us {
    background-color: #FAFAFA;
    height: 600px;
    box-sizing: border-box;
}
.about-us__content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.about-us__block {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.about-us__block:first-child{
    background-image: url('/images/about-us/about-us-bg.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-us__block:last-child {
    
    margin-left: 100px;
}
.about-us__block-container {
    width: 470px;
}
.about-us__block img {
    height: 100%;  
}
.about-us__title {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 50px;
}
.about-us__text {
    line-height: 160%;
}
.about-us__text:last-child {
    margin-top: 32px;
}
/* --------------- / Секция Почему выбирают нас? ---------------*/

/* --------------- / Пройти диагностику и Получить консультацию ---------------*/
.action {
    height: 176px;
    background-image: url('/images/action/action-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.action__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.action__text {
    width: 730px;
    font-weight: 700;
    font-size: 22px;
    line-height: 194%;
    color: white;
}
.action__text-two {
    width: 705px;
}
.action__btn {
    display: block;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    align-items: center;
    padding: 10px 30px;
    background: #FFFFFF;
    border-radius: 4px;
    box-sizing: border-box;
    width: 305px;
    height: 72px;
}
.action__btn-two {
    width: 348px;
}
/* --------------- / Пройти диагностику и Получить консультацию ---------------*/

/* --------------- Только лучшие специалисты ---------------*/
.personal {
    background-color: #F1F4FB;
    padding: 75px 0 90px 0;
    width: 100%;
}
.personal-container {
    width: 1140px;
    margin: 0 auto;
    height: 100%;

}
.personal__title {
}
.personal__content {
    margin-bottom: 45px;
}
.personal__lists {
    margin-top: 85px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.slick-arrow:first-child {
    position: absolute;
    top: 50%;
    left: -100px;
    cursor: pointer;
}
.slick-arrow:last-child {
    position: absolute;
    top: 50%;
    right: -100px;
    cursor: pointer;
}
.slick-arrow {
    position: absolute;
    top: 50%;
    right: -100px;
    cursor: pointer;
}

.slick-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    display: flex !important;
    align-items: center;
    margin-bottom: -70px;
    justify-content: center;
    
}
.slick-dots button {
    width: 85px;
    height: 0px;
    font-size: 0px;
    border: 4px solid rgba(14, 46, 135, 0.38);
    margin-left: 20px;
}
.slick-dots li:first-child button {
    border-radius: 10px 0 0 10px;
}
.slick-dots li:last-child button {
    border-radius: 0 10px 10px 0;
}
.slick-dots li[class="slick-active"] button {
    background: #0E2E87;
}

.personal__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 360px;
    height: 686px;
    background-color: #FAFAFA;
    box-sizing: border-box;
    margin-left: 30px;
}
.personal__item:last-child {
    margin-left: 0;
}
.personal__img {
    border-top: 6px solid transparent;
    border-image: linear-gradient(271.25deg, #0559BC 15.34%, #0E2E87 87.46%);
    border-image-slice: 1;
    width: 360px;
    height: 396px;
}
.personal__img img {
    width: 100%;
}
.personal__item-container {
    padding: 30px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personal__subtitle {
    text-align: center;
}
.personal__type {
    font-size: 18px;
    font-weight: 500;
    color: #0E2E87;
    text-align: center;
    background: #E7EDFB;
    border-radius: 2px;
    padding: 8px 16px;
    margin-top: 13px;
    box-sizing: border-box;
    width: 252px;
    height: 38px;
}
.personal__values {
    display: flex;
    justify-content: space-around;
}
.personal__values-text {
    display: flex;
    align-items: center;
    margin-top: 13px;
    padding-right: 4px;
}
.personal__values-text:last-child {
    margin-top: 18px;
    width: 252px;
}
.personal__values-text:last-child::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 31px;
    height: 2px;
    background-color: #0E2E87;
}
.personal__values-text:last-child::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 31px;
    height: 2px;
    background-color: #0E2E87;
    margin-left: 8px;
}
.personal__values-text img {
    width: 16px;
    height: 16px;
    margin-left: 10px;
}
.personal__values-text p {
    margin-left: 11px;
    line-height: 20px;
    font-size: 14px;
    color: #656565;
    font-weight: 500;
}
.personal__checks {
    display: flex;
    flex-wrap: wrap;

}
.personal__item__check {
    /* margin-bottom: 25px; */

    min-width: 120px;
    display: flex;
    align-items: center;
    
}
.personal__item__check p {
    font-size: 16px;
    color: #656565;
    font-weight: 500;
}
.personal__item__check:last-child {
    margin-bottom: 0;
}
.personal__item__check img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
.personal__btn {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #FAFAFA;
    padding: 19px 34px;
    background: #0E2E87;
    border-radius: 0px 0px 4px 4px;
}

/* --------------- / Только лучшие специалисты ---------------*/

/* --------------- Что о нас говорят  ---------------*/

.comments {
    padding: 75px 0 140px 0;
    background-color: #FAFAFA;
}
.comments__content {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.comments__title {
    margin-bottom: 75px;
}
.comments__slider {
    background-color: white;
    width: 100%;
    height: 344px;
}
.comments__comments {
    
    
}
.comments__item {
    display: flex !important;
    justify-content: space-around;
    width: 1140px;
    height: 344px;
    align-items: center;
    box-sizing: border-box;
    
}
.comments__photo {
    height: 156px;
    width: 156px;
    margin-left: 30px;
}
.comments__block {
    width: 775px;
    height: 212px;
    margin-right: 40px;
}
.comments__block__sibtitle {
    font-weight: 700;
    font-size: 26px;
    line-height: 194%;
    color: #222222;
    margin-bottom: 6px;
}
.comments__block__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #656565;
    margin-bottom: 18px;
}
.comments__block__rating {
    display: flex;
    justify-content: space-between;
    width: 142px;   
}
/* --------------- / Что о нас говорят  ---------------*/

/* --------------- Контакты ---------------*/
.contact {
    color: #222222;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    height: 568px;
    width: 100%;
    background-image: url('/images/contact-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.contact__content {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100%;
}
.contact__block {
    display: flex;
    padding: 0 50px;
    flex-direction: column;
    justify-content: center;
    width: 390px;
    height: 377px;
    background: #FFFFFF;
    box-shadow: 0px 55px 106px -32px rgba(0, 0, 0, 0.18);
    border-radius: 4px;
    box-sizing: border-box;
}
.contact__block-mobile {
    display: none;
}
.contact__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 28px;
}
.contact__text {
    padding-bottom: 28px;
    margin-bottom: 28px;
    border-bottom: 1px solid #B0B0B0;
}
.contact__phone {
    margin-bottom: 28px;
    padding-left: 30px;
    position: relative;
}
.contact__phone::before {
    content: url('/images/icons/phone-blue.png');
    margin-right: 12px;
    position: absolute;
    left: 0;
}
.contact__email {
    margin-bottom: 28px;
    padding-left: 30px;
    position: relative;
}
.contact__email::before {
    content: url('/images/icons/email-blue.png');
    margin-right: 12px;
    position: absolute;
    left: 0;
}
.contact__vk {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 10px;
    width: 240px;
    height: 38px;
    background: #0E2E87;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;

}
.contact__vk::before {
    content: url('/images/icons/vk-white.png');
    margin-right: 12px;
    position: absolute;
    left: 10px;
    top: 9px;
}
.contact__vk p {
    margin-left: 20px;
}
 a.contact__vk {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FAFAFA;
}
/* --------------- / Контакты ---------------*/

/* --------------- Документы ---------------*/
.documents {
    width: 100%;
    height: 143px;
    background: #222222;
    box-sizing: border-box;
}
.documents__content {
    height: 100%;
}
.documents__lists {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.documents__item {
}
.documents__link {
    font-weight: 700;
    font-size: 22px;
    line-height: 194%;
    color: #FAFAFA;
}
/* --------------- / Документы ---------------*/

/* --------------- Подвал ---------------*/
.footer {
    padding: 40px 0;
    width: 100%;
    height: 144px;
    box-sizing: border-box;
    background: #111111;
}
.footer__content {
    display: flex;
    justify-content: space-between;
}
.footer__logo {
    padding: 25px 100px;
    color: white;
    background: transparent;
    border: 2px solid #FAFAFA;
}
.footer__block {
    display: flex;
    flex-direction: column;
    text-align: right;
    
    justify-content: center;
}
.footer__block img {
    margin-left: 3px;
    margin-right: 6px;
}
.footer__company {
    font-weight: 500;
    font-size: 18.7683px;
    line-height: 23px;
    color: #FFFFFF;
}
.footer__developer {
    margin-top: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.67);
}
/* --------------- / Подвал ---------------*/




/* --------------- Адаптив ---------------*/
@media (max-width: 1440px) {
    .container {
        width: 1024px;
        margin: 0 auto;
        height: 100%;
    }
    .promo__title {
        font-size: 54px;
        color: white;
    }
    .promo__title span{
        font-size: 39px;
    }
    .promo__buttons {
        margin-top: 40px;
        
    }
    .promo__btn {
        padding: 15px 20px;
        color: white;
        background: transparent;
        border: 2px solid #FAFAFA;
        border-radius: 4px;

    }
    .bg-white {
        background-color: white;
        color: #0E2E87;
        margin-right: 30px;
        border: 2px solid #FAFAFA;
    }
    .btn-icon {
        position: relative;
        padding-left: 65px;
    }
    .services__item {
        width: 350px;
        height: 458px;
    }
    .services__item-container {
        padding: 30px 0;
        width: 250px;
        margin: 0 auto;
    }
    .services__item-container-checks{
        padding: 30px 0;
        width: 270px;
        margin: 0 auto;
    }
    .services__type {
        font-size: 18px;
        margin: 14px 0 14px 0;
    }
    .services__item__check {
        margin-bottom: 25px;
        min-width: 116px;
        display: flex;
        align-items: center; 
    }
    .about-us__block:last-child {
        width: 490px;
        margin-left: 65px;
        margin-bottom: 30px;
    }
    .action {
        background-image: url('/images/action/action-bg-2.jpg');
    }
    .personal {
        background-color: #F1F4FB;
        padding: 75px 0 100px 0;
    }
    .personal-container {
        width: 1110px;
    }
    /* .personal__content {
        margin-bottom: 45px;
    } */
    .personal__lists {
        margin-top: 75px;
    }
    .personal__item {
        width: 350px;
    }
    .personal__img {
        width: 350px;
    }
    .slick-dots {
        margin-bottom: -80px;
    }
    .slick-dots button {
        border: 3px solid rgba(14, 46, 135, 0.38);
    }
    .slick-arrow:first-child {
        left: -90px;
    }
    .slick-arrow:last-child {
        right: -90px;
    }
    .comments {
        padding: 75px 0 150px 0;
        background-color: #FAFAFA;
    }
    .contact__vk {
        padding: 8px 10px;
        width: 240px;
        height: 38px;
        font-size: 18px;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 724px;
        margin: 0 auto;
        height: 100%;
    }
    .title {
        font-size: 26px;
        line-height: 20px;
    }
    .subtitle {
        font-size: 18px;
    }
    .logo {
        padding: 15px 80px;
        color: white;
        background: transparent;
        border: 2px solid #FAFAFA;
    }
    .header__phone a{
        font-size: 20px;
    }
    .promo__title {
        font-size: 40px;
        color: white;
        line-height: 48px;
    }
    .promo__title span{
        font-size: 28px;
    }
    .promo__buttons {
        margin-top: 30px;
    }
    .promo__btn {
        padding: 10px 15px;
        color: white;
        background: transparent;
        border: 2px solid #FAFAFA;
        border-radius: 4px;
    }
    .btn {
        font-size: 16px;
        cursor: pointer;
    }
    .bg-white {
        background-color: white;
        color: #0E2E87;
        margin-right: 20px;
        border: 2px solid #FAFAFA;
    }
    .btn-icon {
        position: relative;
        padding-left: 50px;
    }
    button.btn-icon::before {
        left: 15px;
        top: 8px;
    }
    .services {
        padding: 50px 0;
    }
    .services__lists {
        margin-top: 65px;
    }
    .services__item {
        width: 230px;
        height: 290px;
        box-sizing: border-box;
    }
    .services__item-container {
        padding: 0;
        width: 190px;
        margin: 0 auto;
    }
    .services__subtitle {
        margin-top: 15px;
    }
    .services__item-container-checks{
        padding: 20px 0;
        width: 190px;
    }
    .services__checks p{
        font-size: 11px;
    }
    .services__item__check img{
        width: 15px;
        height: 15px;
    }
    .services__item__check {
        margin-bottom: 25px;
        min-width: 83px;
        display: flex;
        align-items: center; 
    }

    .services__type {
        font-size: 14px;
        padding: 8px 11px;
        margin: 14px 0 14px 0;
    }
    .services__values-text {
        margin-bottom: 15px;
    }
    .services__values-text p {
        margin-left: 11px;
        line-height: 20px;
        font-size: 11px;
    }
    .services__values-text img {
        width: 15px;
        height: 15px;
        margin-left: 8px;
    }
    .services__item__check img {
        width: 14px;
        height: 14px;
        margin-right: 5px;
    }

    .services button {
        font-size: 14px;
        line-height: 27px;
        padding: 10px 15px;
    }
    .about-us {
        height: 450px;
    }
    .about-us__content {
        align-items: center;
    }
    .about-us__block-container {
        width: 400px;
    }
    .about-us__title {
        font-size: 26px;
    }
    .about-us__text {
        font-size: 14px;
    }
    .action {
        background-image: url('/images/action/action-bg-2.jpg');
    }
    .action__text {
        width: 440px;
        font-size: 14px;
    }
    .action__btn {
        font-size: 16px;
        padding: 10px 15px;
        width: 250px;
        height: 50px;
        margin-left: 40px;
        
    }
    .personal {
        background-color: #F1F4FB;
        padding: 75px 0 100px 0;
    }
    .personal-container {
        width: 1110px;
    }
    /* .personal__content {
        margin-bottom: 45px;
    } */
    .personal__lists {
        margin-top: 75px;
    }
    .personal__item {
        width: 350px;
    }
    .personal__img {
        width: 350px;
    }
    .slick-dots {
        margin-bottom: -80px;
    }
    .slick-dots button {
        border: 3px solid rgba(14, 46, 135, 0.38);
    }
    .slick-arrow:first-child {
        left: -90px;
    }
    .slick-arrow:last-child {
        right: -90px;
    }
    .comments {
        padding: 75px 0 150px 0;
        background-color: #FAFAFA;
    }
    .contact__vk {
        padding: 8px 10px;
        width: 240px;
        height: 38px;
        font-size: 18px;
    }
}
















@media (max-width: 320px) {
    .container {
        width: 290px;
    }
    .title {
        font-size: 14px;
    }
    .subtitle {
        font-size: 12px;
    }
    .header {
        display: none;
    }
    .header-mobile {
        display: block;
        position: absolute;
        width: 100%;
        height: 50px;
        margin-top: 40px;
        /* background-color: green; */

        
    }
    .header__content-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 262px;
        margin: 0 auto;
    }
    .header__phone-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 116px;
        height: 35px;
        border: 2px solid #FAFAFA;
        border-radius: 4px;
        box-sizing: border-box;
        position: relative;
        
    }
     .header__phone-mobile:last-child {
        background-color: #fff;
        color: #000;
    }
    .header__phone-mobile__link {
        margin: 0;
    }
    .header__phone-mobile__link p {
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: white;
        margin-left: 15px;
    }
    .header__phone-mobile:last-child p{
        color: #0E2E87;
    }
    .header__phone-mobile:first-child .header__phone-mobile__link-icon {
        content: url('/images/icons/phone-mobile.png');
        position: absolute;
        left: 8px;
        
    }
    .header__phone-mobile:last-child .header__phone-mobile__link-icon {
        content: url('/images/icons/vk-mobile.png');
        position: absolute;
        left: 10px;
        top: 11px;
    }

    

















    .promo {
        width: 100%;
        height: 445px;
        background-image: url('/images/bg-main-320.jpg');
    }
    .promo__content {
        padding-top: 120px;
        width: 100%;
        
    }
    .promo__title {
        font-size: 26px;
        text-align: center;
        line-height: 30px;
    }
    .promo__title span {
        font-size: 19px;
    }
    .promo__btn {
        font-size: 16px;
        width: 262px;
        height: 48px;
        box-sizing: border-box;
    }
    .promo__buttons {
        display: flex;
        align-items: center;
        color: #0E2E87;
    }
    .promo__buttons button {
        margin: 0 auto;
        font-weight: 600;
    }
    .promo__buttons button:last-child {
        display: none;
        
    }

    .services__lists {
        flex-direction: column;
    }


    .services {
        padding: 15px 0 0 0;
    }
    .services__content {
        margin: 0;
    }
    .services__lists {
        margin-top: 35px;
        align-items: center;
    }
    .services__item {
        flex-direction: column;
        width: 222px;
        height: 294px;
        margin-bottom: 60px;
    }
    .services__item:last-child {
        margin-bottom: 80px;
    }

    .services__type {
        font-size: 12px;
        padding: 8px 11px;
        margin: 14px 0 14px 0;

    }
    .services__values-text {
        font-size: 10px;
    }
        .services button {
        font-size: 14px;
        line-height: 27px;
        padding: 10px 15px;
    }

    .about-us {
        height: 545px;
        margin-bottom: 26px;
    }
    .about-us__content {
        align-items: center;
    }
    .about-us__block:first-child {
        min-height: 206px;
        width: 100%;
    }
    .about-us__block:last-child {
        width: 100%;
        margin: 0;
    }
    .about-us__block-container {
        width: 262px;
        margin: 0 auto;
    }
    .about-us__title {
        font-size: 16px;
        margin: 26px 0 20px;
    }
    .about-us__text {
        font-size: 12px;
    }
    .about-us__content {
        flex-direction: column;
    }

    .action {
        display: none;
    }


    .personal {
        background-color: #F1F4FB;
        padding: 0;
        padding-bottom: 68px;
    }
    .personal-container {
        width: 100%;
    }
    .personal__title {
        padding-top: 36px;
        padding-bottom: 32px;
        margin: 0 auto;
        width: 215px;
    }
    .personal__content {
        margin-bottom: 0;
    }
    .personal__lists {
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        
        margin: 0 auto;
        
    }
    .personal__item {
        width: 222px;
        height: 100%;
        
        
    }
    .personal__values-text {
        margin-left: -15px;
        margin-top: 10px;
        
    }
    .personal__values-text:last-child {
        margin: 0 auto;
        margin-top: 16px;
        width: auto;
    }
    .personal__values-text img {
        width: 12px;
        height: 12px;
        margin-left: 10px;
        
    }
    .slick-track {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 222px !important;
    }
    .personal__img {
        width: 222px;
        height: 223px;
        margin-bottom: 17px;
    }
    .personal__item-container {
        padding: 25px 0 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .personal__values-text p {
        margin-left: 8px;
        line-height: 20px;
        font-size: 10px;
        color: #656565;
        font-weight: 500;
        text-align: center;

    }

    .personal__lists {
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .personal__type {
        font-size: 10px;
        font-weight: 500;
        color: #0E2E87;
        text-align: center;
        background: #E7EDFB;
        border-radius: 2px;
        padding: 0;
        margin-top: 10px;
        box-sizing: border-box;
        width: 103px;
        height: 24px;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .personal__btn {
        display: block;
        width: 100%;
        height: 46.22px;
        box-sizing: border-box;
        align-items: center;
        text-align: center;
        font-weight: 700;
        font-size: 14px;
        line-height: 27px;
        color: #FAFAFA;
        padding: 0;
        background: #0E2E87;
        border-radius: 0px 0px 4px 4px;
    }
    .personal__values-text:last-child::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 21px;
        height: 1px;
        background-color: #0E2E87;
    }
    .personal__values-text:last-child::after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 21px;
        height: 1px;
        background-color: #0E2E87;
        margin-left: 8px;
    }


    .personal__lists img.slick-arrow:nth-child(1) {
        position: absolute;
        top: 50%;
        left: 10px;
        cursor: pointer;
        width: 10px;
        height: 18px;
    }
    .personal__lists img.slick-arrow:nth-child(3){
        position: absolute;
        top: 50%;
        right: 10px;
        cursor: pointer;
        width: 10px;
        height: 18px;
        
    }
    .slick-arrow {
        position: absolute;
        top: 50%;
        right: 10px;
        cursor: pointer;
    }
    .slick-dots {
        margin-bottom: -32px;
    }
    .slick-dots button {
        width: 20px;
        height: 0px;
        font-size: 0px;
        border: 2px solid rgba(14, 46, 135, 0.38);
        margin-left: 12px;
    }

    .comments {
        padding: 34px 0 34px 0;
        background-color: #FAFAFA;
    }
    .comments__comments-desktop {
        display: none;
    }
    .comments__item {
        flex-direction: column;
    }
    .contact__vk {
        padding: 8px 10px;
        width: 240px;
        height: 38px;
        font-size: 18px;
    }


    .comments__title {
        margin: 0;
        margin-bottom: 34px;
    }
    .comments__comments {
    }
    .comments__comments-mobile {
    }
    .comments__item {
        width: 222px;
        height: 307px;
        box-sizing: border-box;
    }
    .comments__info {
        margin-left: 15px;
        width: 182px;
        display: flex;
        flex-direction: column;
    }
    .comments__specialist {
        display: flex;
    }
    .comments__photo {
        background-image: url('/images/comments/image-1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 42px;
        height: 42px;
        border-radius: 100%;
    }
    .comments__specialist-subtitle {
        margin-top: 2px;
        font-weight: 700;
        font-size: 14px;
    }
    .comments__block__rating {
        margin-top: 7px;
        width: 72px;
    }
    .comments__block__rating img{
        width: 10px;
        height: 10px;
    }
    .comments__block__text {
        font-weight: 500;
        font-size: 12px;
        line-height: 160%;
    }


    .comments__specialist {
        margin-left: 25px;
        margin-bottom: 15px;
    }
    .comments__comments-mobile {
        width: 100%;
    }
    .comments__item {
        width: 222px;
        padding: 20px;
        margin-left: 15px;
        box-sizing: border-box;
    }

    .slick-arrow:first-child {
        left: -10px;
    }

    .action-mobile {
        display: block;
    }
    .action__content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .action__text {
        width: 262px;
        font-weight: 700;
        font-size: 18px;
        line-height: 194%;
        margin-top: 20px;
    }
    .action__btn {
        padding: 14px 30px;
        width: 262px;
        height: 48px;
        box-sizing: border-box;
        margin: 20px 0 32px 0;
    }












    .contact {
        height: 100%;
        background-image: none;
        background-color: #fff;
    }
    .contact__content {
        align-items: center;
        justify-content: center;
        height: 100%;
        background-color: #fff;
    }
    .contact__block {
        display: flex;
        padding: 50px 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 222px;
        height: 189px;
        background-color: #fff;
        box-shadow: none;
        border-radius: 4px;
        box-sizing: content-box;
    }
    .contact__block-mobile {
        display: block;
        background-image: url('/images/bg-contact-mobile.jpg');
        width: 320px;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .contact__title {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 16px;
    }
    .contact__text {
        font-size: 14px;
        line-height: 17px;
        padding-bottom: 0;
        margin-bottom: 16px;
    }
    .contact__phone {
        margin-bottom: 28px;
        padding-left: 30px;
        position: relative;
        font-size: 14px;
        line-height: 17px;
    }
    .contact__phone::before {
        content: url('/images/icons/phone-blue.png');
        margin-right: 12px;
        position: absolute;
        left: 0;
    }
    .contact__email {
        margin-bottom: 28px;
        padding-left: 30px;
        position: relative;
        font-size: 14px;
        line-height: 17px;
    }
    .contact__email::before {
        content: url('/images/icons/email-blue.png');
        margin-right: 12px;
        position: absolute;
        left: 0;
    }
    .contact__vk {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 10px;
        width: 189px;
        height: 36px;
        background: #0E2E87;
        border-radius: 4px;
        box-sizing: border-box;
        position: relative;
    
    }
    .contact__vk::before {
        content: url('/images/icons/vk-mobile-white.png');
        margin-right: 12px;
        position: absolute;
        left: 10px;
        top: 9px;
        width: 15px;
        height: 15px;
    }
    .contact__vk p {
        margin-left: 20px;
        font-size: 14px;
        line-height: 17px;
        font-weight: 500;
    }






    .documents {
        width: 100%;
        height: auto;
        background: #222222;
        box-sizing: border-box;
        padding: 20px 0;
    }
    .documents__content {
        height: 100%;
    }
    .documents__lists {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }
    .documents__item {
        margin-top: 20px;
    }
    .documents__link {
        font-weight: 700;
        font-size: 14px;
        line-height: 194%;
        color: #FAFAFA;
        
    }
    .documents__item:first-child {
        margin-top: 0;
    }




    .footer {
        padding: 40px 0;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        background: #111111;
    }
    .footer__content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .footer__logo {
        padding: 25px 100px;
        color: white;
        background: transparent;
        border: 2px solid #FAFAFA;
    }
    .footer__block {
        display: flex;
        flex-direction: column;
        text-align:center;
        
        justify-content: center;
    }
    .footer__block img {
        margin-left: 3px;
        margin-right: 6px;
    }
    .footer__company {
        margin-top: 26px;
        width: 262px;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
    }
    .footer__developer {
        margin-top: 14px;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        color: rgba(255, 255, 255, 0.67);
    }

}


/* --------------- / Адаптив ---------------*/